$black100: #898989;
$black200: #616161;
$black300: #3a3a3a;
$black400: #2e2e2e;
$black500: #232323;

$white100: #fff;
$white200: #e6e6e6;
$white300: #ccc;
$white400: #b3b3b3;
$white500: #999;

$green100: #97b195;
$green200: #759772;
$green300: #527d4f;
$green400: #42643f;
$green500: #314b2f;

$fn-red: #c44933;

$breakpoints: (
    'sm': 'screen and (max-width: 599px)',
    'tb': 'screen and (min-width: 600px) and (max-width: 1024px)',
    'pgtp_btn': 'screen and (min-width: 600px) and (max-width: 1550px)',
    'pc': 'screen and (min-width: 1025px)',
) !default;

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

*{
    a{
        text-decoration: none;
    }
    vertical-align:top;
    margin:0;
    font-family: 'Manrope','Noto Sans JP', sans-serif;
    color:$black300;
}

header{
    max-width: 1550px;
    margin:0 auto;
    padding:5vh 3%;
    line-height: 50px;
    height: 50px;
    position: relative;
    @include mq(sm){
        padding:0 5% ;
        line-height: 1.2; 
        position: relative;
    }
    a:visited{
        color:$black300;
    }
    
    .header_logo{
        a{
            padding:14px 0;
        }
        display: inline-block;
        @include mq(sm){
            padding-top:5vw;
        }
        &.nav{
            position: fixed;
            top:0;
            left:5vw;
            @include mq(tb){
                top:5vh;
                line-height: 50px;
                left:3vw!important;
            }
            a{
                color:$white200;
                &:visited{
                    color:$white200;
                }
            }
            &::after{
                content:'Copyright 2024 OBASANZ';
                position: fixed;
                bottom:5vw;
                left:5vw;
                color:$black200;
                letter-spacing: 0.05em;
                font-size: 14px;
                font-weight: 500;
            }
        }
        img{
            width: 50px;
            height: 50px;
            border-radius: 15px;
            @include mq(sm){
                width: 25px;
                height: 25px;
                border-radius: 7.5px;
                vertical-align: middle;
            }
        }
        a{
            letter-spacing: 0.075rem;
            padding-left:1rem;
            @include mq(sm){
                padding-left:.5rem;
                line-height: 25px;

            }
            

            span{
                color:#b8b8b8;
                font-size:.75rem;
                letter-spacing: 0.075rem;
                &::before{
                    content:'/';
                    font-size:1rem;
                    padding:0 .75rem;
                    color:$green300;
                }
                @include mq(sm){
                    display:none;
                    padding-top:5vw;
                }
                
            }
        }
    }
    .nav_wrapper{
        list-style: none;
        margin:-51px 0;
        padding-left:0;
        text-align: right;
        @include mq(tb){
            display:none;
        }
        li{
            display:inline-block;
            letter-spacing: 0.075rem;
            position: relative;
            margin-left:2em;
            a{
                padding:14px 0;
                &::before{
                    content:'●';
                    line-height: .5rem;
                    font-size:0.45rem;
                    position: absolute;
                    left:50%;
                    transform: translateX(-50%);
                    color:rgba(0,0,0,0)
                }
                &::after{
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: $black300;
                    display:inline-block;
                    margin-top:-12.5px;
                    transform-origin: left top;
                    transform: scale(0,1);
                    transition: .2s;
                }
            }
            &.marked{
                a::before{
                    color:$green300;
                }
            }
            &:hover{
                a::after{
                    transform: scale(1,1);
                }
            }
            a{
                &:visited{
                    color: $black300;
                }
            }
        }
        @include mq(tb){
            display:none;
        }
        @include mq(sm){
            display:none;
        }
    }
    .menu_btn{
        height: 25px;
        width: calc(10px + 2.5vw + 34px);
        position: absolute;
        right:5%;
        text-align: right;
        margin-top:-25px;

        @include mq(tb){
            top:42%;
            margin-top:0;
        }
        span{
            width:10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            right:0;
            background: $black200;
            &::before{
                content:"MENU";
                position: absolute;
                right:calc(10px + 2.5vw);
                top:50%;
                transform: translateY(-50%);
                font-size:10px;
                letter-spacing: .05rem;
                font-weight: 500;
            }
            &.active{
                 animation: menu_in_anime .3s forwards;
                 position: fixed; 
                 z-index: 100;
                 @keyframes menu_in_anime{
                    0%{
                        width:10px;
                        height: 10px;
                        background: $black300;
                        top:calc(5vw + 7.5px);
                        right:5vw;
                    }
                    100%{
                        width: 500vw;
                        height: 500vw;
                        background: $black300;
                        top:25px;
                        right:-255vw 
    
                    }
                 }
            }
        }
        @include mq(pc){
            display:none;
        }
    }
    .nav_wrapper_sp{
        position: fixed;
        z-index: 1000;
        opacity:0;
        padding-top:5vh;
        pointer-events: none;
        margin:0;
        width: 90vw;
        left:5vw;
        height: 100dvh;
        padding-bottom:20vh;
        overflow: scroll;
        line-height: 1;
        @include mq(tb){
            width: 94vw;
            left:3vw;
        }
        &.active{
            opacity: 100;
            transition: .2s .3s;
            pointer-events: all;
        }
        .nav_close{
            position: fixed;
            width: 25px;
            height: 25px;
            padding:5vw 5vw 0;
            display:inline-block;
            right:3vw;
            top:0;
            .close1{
                position: absolute;
                bottom:12px;
                right:3px;
                height: 1px;
                width: 21px;
                transform: rotate(45deg);
                background:$white200;
            }
            .close2{
                position: absolute;
                bottom:12px;
                right:3px;
                height: 1px;
                width: 21px;
                transform: rotate(-45deg);
                background:$white200;
            }
            &::before{
                content:"CLOSE";
                position: absolute;
                right:calc(21px + 2vw);
                top:calc(5vw + 12.5px);
                transform: translateY(-50%);
                font-size:10px;
                letter-spacing: .05rem;
                font-weight: 500;
                color:$white200;
            }
        }
        .nav_line{
            width: 100%;  
            height: 1px;
            margin:10px 0;
            background: $black400;
            display: block;
            
        }
        .nav_link_btn_wrapper{
            display:block;
            width: 100%;
            position: relative;
            a{
                color: $white200;
                letter-spacing: .1rem; 
                padding:15px 0;
                width: 100%;
                display:inline-block;
                span{
                    font-size: 10px;
                    vertical-align: middle;
                    padding-left:15px;
                    display:inline-block;
                    color: $white300;
                    z-index: 101;
                }
            }
            &::after{
                content:'';
                position: absolute;
                right:0;
                top:50%;
                transform: translateY(-50%);
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: $green200;

            }
        }
        .nav_sns{
            margin:10vw 0 5vw;
            a{
                color:$white200;
                letter-spacing: 0.075rem;
                font-size:.85rem;
                position: relative;
                padding:13px 20px 10px 0;
                display:block;
                width: 75px;
                &::after{
                    content:'';
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    position: absolute;
                    top:50%;
                    transform: translateY(-50%);
                    right:0;
                    background: $green200;
                }
            }
            p{
                color:$white200;
                margin-bottom:5vw;
                letter-spacing: .1rem;
            }
        }
    }
}

.main_btn{
    padding:20px calc(16px + 20px + 5px) 20px 20px;
    line-height: 1rem; 
    background:none;
    color:$black300;
    position: relative;
    border-radius:60px;
    letter-spacing: .1rem;
    transition: .2s;
    border: solid 1px $white200;
    display:inline-block;
    margin:0 0 15px;
    &::before{
        content: '';
        width: calc(100% - 20px - 16px - 20px - 5px);
        height: 1px;
        display:inline-block;
        background: $white100;
        position: absolute;
        bottom:15px;
        transform-origin: left top;
        transform: scale(0,1);
        transition: .2s;
    }
    .fa-brands{
        padding-right:16px;
    }
    &::after{
        content:'';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        background: $green300;
        right:20px;
        top:50%;
        transform: translateY(-50%);
        animation: btn_hover_out .2s;

    }
    &:hover{
        background: $white200;
        color:$black300;
        border: solid 1px $black100;
        &::after{
            width: 20px;
            height: 20px;
            right:12.5px;
            animation: btn_hover_in .2s;
        }
        &::before{
            background: $black300;
            transform: scale(1,1);
        }
        span::after{
            animation: btn_hover_arrow_in .4s forwards ;
        }
    }
    span::after{
        content:'\f061';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        z-index: 53;
        right:30px;
        font-size:.7rem;
        color:rgba(255, 255, 255, 0);
    }
    &:active{
        background: $black200;
        color:$white200;
        transform: scale(.95);
        i{
            color:$white200;
        }
        &::before{
            background: $green100;
        }
        &::after{
            color: $black200;
        }
    }
}
@keyframes btn_hover_in{
    0%{
        width: 5px;
        height: 5px;
        right:20px;
    }
    100%{
        width: 20px;
        height: 20px;
        right:12.5px;
    }
}
@keyframes btn_hover_out{
    0%{
        width: 20px;
        height: 20px;
        right:12.5px;
    }
    100%{
        width: 5px;
        height: 5px;
        right:20px;
    }
}
@keyframes btn_hover_arrow_in{
    0%{
        right:31px;
        color:rgba(255, 255, 255, 0);
    }
    50%{
        color:$white100;
    }
    70%{
    }
    100%{
        right:16px;
        color:$white100;
    }
}
h2{
    font-size:2rem;
    position: relative;
    color:$black300;
    margin:1rem 0;
}
h3{
    color:$black300;
    letter-spacing:0.025em ;
    margin-bottom:10px;
}
footer{
    width: 100%;
    background:$black300;
    height: auto;
    border-radius:50px 50px 0 0;
    padding:50px 0;
    @include mq(sm){
        border-radius: 25px 25px 0 0;
        padding:25px 0;
    }
    .footer_inner{
        max-width: 1550px;
        margin:0 auto;
        padding:0 3vw;
        position: relative;
        @include mq(sm){
             padding: 0 5%;
        }
        .footer_logo{
            span{
                padding-top:.25rem;
                display:inline-block;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 8px;
                    margin-top:-.25rem;
                }
                &::after{
                    content:'';
                    border: 6px solid transparent;
                    border-top: 7px solid $green100;
                    background: none;
                    display:inline-block;
                    transform: rotate(90deg);
                    margin-left:.3rem;
                }
            }
            p{
                display:inline-block;
                line-height: 40px;
                color:$white100;
                letter-spacing: .1rem;
                background: $green100;
                position: relative;
                border-radius: 8px;
                margin-left:-.2rem;
                padding:0 1rem;
            }
        }
        .says{
            display:inline;
        }
        .footer_copy{
            line-height: 40px;
            margin-top:14px;
            @include mq(sm){
                background:$black300 ;
                margin:0 0 0 -5vw;
                padding:calc(2rem + 160px) 5vw 0 5vw;
                width: 100%;

           }
           p{
            letter-spacing: .1em;
            font-size:14px;
            color:$black100;
           }
        }
        .footer_nav{
            @include mq(pgtp_btn){
                &.pgtp_btn{
                    margin-right:calc(70px)
                }
            }
            ul{
                list-style: none;
                padding-left:0;
                line-height: 40px;
                text-align: right;
                margin-top:calc( -80px - 1rem );
                @include mq(sm){
                    text-align: left;
                    margin-top:calc(-3rem - 160px);
               }
                li{
                    display:inline-block;
                    margin-left:1rem;
                    position: relative;
                    @include mq(sm){
                        display:block;
                        margin-left:0rem;
                    }
                    a{
                        color: $white200;
                        line-height: 40px;
                        letter-spacing: .1rem;
                        padding:14px 0;
                        &:visited{
                            color:$white200;
                        }
                        &:hover{
                            &::after{
                                content:'';

                                @include mq(sm){
                                    display:none;
                               }
                            }
                        }
                    }
                }
            }
        }
        .footer_sns{
            @include mq(pgtp_btn){
                &.pgtp_btn{
                    margin-right:calc(75px)
                }
            }
            @include mq(sm){
                display:none;
            }
            margin-top:1rem;
            text-align: right;
            @include mq(sm){
                text-align: right;
                margin-top:8px;
           }
            a{
                color:$black100;
                line-height: 40px;
                padding:14px 0;
                margin-left:1em;
                position: relative;
                s{
                    color:$black100;
                }
                &:visited{
                    color:$black100;
                }
                &:hover{
                    color:$white200;
                    s{
                        color:$white200;
                    }
                }
            }
        }
    }
}


.top_wrapper{
    max-width: 1550px;
    margin:0 auto;
    padding:5vh 0 3% 5vh;
    @include mq(sm){
        padding:5vh 5%;
    }
    h1{
        font-size:3rem;
        font-weight:700;
        letter-spacing: .2rem;
        position: relative;
        color:$black300;
        @include mq(sm){
            font-size:2.5rem;
            letter-spacing: .1rem;
        }
        span{
            font-size: .8rem;
            letter-spacing: .05rem;
            line-height: 1rem;
            display:block;
            @include mq(sm){
                font-size:.7rem;
            }
        }
        
    }
}

.content_wrapper{
    max-width: 1440px;
    margin:0 auto;
    padding:3vw 3vw 5vw;
    @include mq(sm){
        padding:0 5%;
    }
}

p{
    a{
        border-bottom:solid 1px $green300 ;
        color:$green300;
        &:hover{
            border:none;
            color:$green500;
        }
        &:visited{
            color:$green300;
            &:hover{
                border:none;
                color:$green500;
            }
        }
    }
    &.small_notice{
        font-size:.8em;
        color:$black100;
    }
}

.notice_wrapper{
    background: $white200;
    padding:20px;
    border-radius: 20px;
    display: flex;
    margin-bottom:20px;
    .notice_icon i{
        color:$fn-red;
        padding-right:20px;
        font-size:20px
    }
    div{
        letter-spacing: 1.25;
        line-height: 2;
        .title{
            font-weight: 600;
            line-height: 20px;
            margin-bottom:10px;
            font-size: 1em;
        }
    }
}

